CREATE TABLE [dbo].[Ilce](
	[ilce_id] [int] NOT NULL,
	[ilce_title] [nvarchar](255) NOT NULL,
	[ilce_key] [int] NOT NULL,
	[ilce_sehirkey] [int] NOT NULL,
 CONSTRAINT [PK_Ilce] PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehir]    Script Date: 18.07.2020 18:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehir](
	[sehir_id] [int] NOT NULL,
	[sehir_title] [nvarchar](255) NOT NULL,
	[sehir_key] [int] NOT NULL,
 CONSTRAINT [PK_Sehir_1] PRIMARY KEY CLUSTERED 
(
	[sehir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ilce] ([ilce_id], [ilce_title], [ilce_key], [ilce_sehirkey]) VALUES (1, N'ADALAR', 1103, 34)
INSERT [dbo].[Ilce] ([ilce_id], [ilce_title], [ilce_key], [ilce_sehirkey]) VALUES (2, N'ARNAVUTKÖY', 2048, 34)
INSERT [dbo].[Ilce] ([ilce_id], [ilce_title], [ilce_key], [ilce_sehirkey]) VALUES (3, N'ATAŞEHİR', 2049, 34)
GO
INSERT [dbo].[Sehir] ([sehir_id], [sehir_title], [sehir_key]) VALUES (1, N'İSTANBUL', 34)
INSERT [dbo].[Sehir] ([sehir_id], [sehir_title], [sehir_key]) VALUES (2, N'ANKARA', 6)
INSERT [dbo].[Sehir] ([sehir_id], [sehir_title], [sehir_key]) VALUES (3, N'İZMİR', 35)

